{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<script>
    $(document).ready(function (){
        $("#id_Vehicle").select2()
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="background-color: white; border-radius: 5%; padding: 20pt;margin-top:50pt ">
        <form method="POST" action='/update_driver/{{driver.id}}' enctype="multipart/form-data">{% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update Details</legend>
                    <div class="form-group">
                        {{form.as_p }}
                    </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" id="submit" name="submit" type="submit"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Add</button> 
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock start %}