{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="project">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="author" content="Bhargav Jethwa">

  <title>{{title}}</title>

  <!-- bootstrap file -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- bootstrap file-->

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous"></script>  

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">


  <!-- main css -->
  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />


  <!-- message here -->



  <!--_______________________________________________-->



</head>

<body class="container-fluid">

  <header class="row">

    <!-- navbar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" class="styleheader" href="/Home"><span class="glyphicon glyphicon-stats"></span> &nbsp; Hem Logistics</a>
        </div>
        <div class="collapse navbar-collapse" id="mainNavBar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/Home">Home</a></li>
            {% if user.is_authenticated %}
            <li class="dropdown">

              <a class="dropdown-toggle" data-toggle="dropdown" > Notifications<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/PUC_Notifications">PUC </a></li>
                <li><a class="dropdown-item" href="/License_Notifications">License</a></li>
                <li><a class="dropdown-item" href="/Insurance_Notifications">Insurance</a></li>
              </ul>
            </li>
            <li class="dropdown">

              <a class="dropdown-toggle" data-toggle="dropdown" > Add<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/Add Driver">Driver</a></li>
                <li><a class="dropdown-item" href="/Add Vehicle">Vehicle</a></li>
                <li><a class="dropdown-item" href="/Add Client">Client</a></li>
                <li><a class="dropdown-item" href="/Add Trip Detail">Trip Detail</a></li>
                <li><a class="dropdown-item" href="/Add Bank Detail">Bank Detail</a></li>
                <li><a class="dropdown-item" href="/Add Transaction">Transcation</a></li>
              </ul>
            </li>
            <!-- <li><a href="/Notifications">Notifications</a></li> -->
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> &nbsp; Logout</a></li>
            {% else %}
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Log in</a></li>
            {% endif %} 
            <li><a href="/Contact Us"><span class="glyphicon glyphicon-user"></span> &nbsp; Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <br />
  {% if messages %}
  {% for message in messages %}

  <div class="d-flex flex-column" style="margin: 50px 5px 5px 5px;">
    <div class="alert {{message.tags}} m-2" id="msg" role = "alert">
      {{ message }}
    </div>
  </div>

  {% endfor %}
  {% endif %}

  {% block start %}
    
    <div class="row1" >
      <div class="column1">
        <div class="card">
          <a href="/Driver">
            <!-- <img src="{% static  'images/driver1.png' %}" alt="Driver"> -->
            <div class="content valign-wrapper" style="padding: 1px; text-align: center;">
              <h4><b> Driver Detail</b></h4> 
            </div>
          </a>
        </div>
      </div>
      &nbsp;
      <div class="column1">
        <div class="card">
          <a href="/Vehicle">
            <!-- <img src="{% static  'images/vehicle1.png' %}" alt="Vehicle"> -->
            <div class="content valign-wrapper" style="padding: 1px; text-align: center;">
              <!-- <div class="container"> -->
                <h4><b> Vehicle Detail</b></h4> 
              <!-- </div> -->
            </div>
          </a>
        </div>
      </div>
      <div class="column1">
        <div class="card">
          <a href="/Trip Detail">
            <!-- <img src="{% static  'images/vehicle1.png' %}" alt="Trip Detail"> -->
            <div class="content valign-wrapper" style="padding: 1px; text-align: center;">
              <h4><b> Trip Detail</b></h4> 
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row1">
      <div class="column1">
        <div class="card">
          <a href="/Bank Detail">
            <!-- <img src="{% static  'images/vehicle1.png' %}" alt="Bank Detail"> -->
            <div class="content valign-wrapper" style="padding: 1px; text-align: center;">
              <h4><b> Bank Detail</b></h4> 
            </div>
          </a>
        </div>
      </div>
      <div class="column1">
        <div class="card">
          <a href="/Client">
            <!-- <img src="{% static  'images/vehicle1.png' %}" alt="Bank Detail"> -->
            <div class="content valign-wrapper" style="padding: 1px; text-align: center;">
              <h4><b> Client </b></h4> 
            </div>
          </a>
        </div>
      </div>
      <div class="column1">
        <div class="card">
          <a href="/Transaction">
            <!-- <img src="{% static  'images/vehicle1.png' %}" alt="Bank Detail"> -->
            <div class="content valign-wrapper" style="padding: 1px; text-align: center;">
              <h4><b> Transaction </b></h4> 
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="row1" >
      <div class="column1">
        <div class="card">
          <a href="/Report">
            <!-- <img src="{% static  'images/driver1.png' %}" alt="Driver"> -->
            <div class="content valign-wrapper" style="padding: 1px; text-align: center;">
              <h4><b> Generate Report</b></h4> 
            </div>
          </a>
        </div>
      </div>
    </div>
    
   
    {% endblock %}

    <div class= "modal_container" id="vehicle_modal_container">
      <div class="modalll" style="top:15%;">
        <div>
          <p id=Owner></p>
          <p id=RC_number></p>
          <p id=PAN_number></p>
          <p id=Type></p>
          <p id=Other></p>
          <p id=Insurance_policy_number></p>
          <p id=Insurance_expiry_date></p>
          <p id=PUC_expiry_date></p>
          <p id=Safety_equipments></p>
          <p id=GPS></p>
          <p id=Contact_number></p>
          <hr style="height:2px;border-width:0;color:gray;background-color:gray">
          <center>
              <button id=close_vehicle style="padding: 5px;" class="btn btn-primary">Close me</button>
          </center>
        </div>
  
      </div>
  </div>
  
  <div class= "modal_container" id="driver_modal_container">
      <div class="modalll" style="top:25%;">
        <div>
          <p id=Name></p>
          <p id=License_number></p>
          <p id=License_expiry></p>
          <p id=Contact_number></p>
          <!-- <p id=Vehicle></p> -->
          <hr style="height:2px;border-width:0;color:gray;background-color:gray">
          <center>
              <button id=close_driver style="padding: 5px;" class="btn btn-primary">Close me</button>
          </center>
        </div>
  
      </div>
  </div>
  <br />
  <br />
</body>

<script>
  setTimeout(function(){
    if($('#msg').length>0)
      $('#msg').remove();
  },2000);
  
</script>

<script>
  document.getElementById('close_vehicle').addEventListener('click',()=>{
      document.getElementById('vehicle_modal_container').classList.remove('show');
  });
  document.getElementById('close_driver').addEventListener('click',()=>{
      document.getElementById('driver_modal_container').classList.remove('show');
  });
</script>

<script>
  $(document).on('click', '.confirm-delete', function(){
      return confirm('Are you sure you want to delete this?');
  });
  $(document).on('click', '.confirm-finish', function(){
      return confirm('Are you sure you want to finish this trip?');
  });
</script>

</html>