{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script>
  $(document).ready( function () {
    $('#table').DataTable();
  } );
</script>

<h1 style="text-align: center; padding-top: 20px;"> Driver details</h1>
</br>

<table id="table" class="table table-striped" style="overflow-y: scroll; height: 1px;">  
    <thead class="thead-dark">  
    <tr>  
        <th>Driver's Name</th>  
        <th>License Number</th>  
        <th>License Expiry</th>  
        <th>Contact Number</th> 
        <th>Vehicle</th> 
        {% if user.is_authenticated %} 
        <th>Actions</th>  
        {% endif %}
    </tr>  
    </thead>  
    <tbody>  
{% for x in driver %}  
    <tr>  
        <td>{{ x.Name }}</td>  
        <td>{{ x.License_number }}</td>  
        <td>{{ x.License_expiry }}</td>  
        <td>{{ x.Contact_number }}</td>
        <td>
            <ul>
            {% for v in x.Vehicle.all %}
                <li>
                    <button class="astext" id = {{x.id}}{{v.id}}>{{ v }}</button>
                </li>
            {% endfor %}
            </ul>
        </td>  
        {% if user.is_authenticated %}
        <td>  
            <a href="/edit_driver/{{ x.id }}"><span class="glyphicon glyphicon-pencil" > </span></a>
            <a href="/delete_driver/{{ x.id }}" class="confirm-delete"><span class="glyphicon glyphicon-remove"> </span></a>
        </td> 
        {% endif %} 
    </tr>  
{% endfor %}  
    </tbody>  
</table>  

{% if user.is_authenticated %}
<center><a href="/Add Driver/" class="btn btn-primary">Add New Record</a></center>
{% endif %} 

<br />  
<br />  
{% for v in driver %}
    {% for x in v.Vehicle.all %}
        <script>
            document.getElementById('{{v.id}}{{x.id}}').addEventListener('click',()=>{
                document.getElementById('vehicle_modal_container').classList.add('show');
                console.log("{{x.RC_number}}");
                // $('#table').parents('div.dataTables_wrapper').first().hide();
                $('#Owner').html("Owner: {{ x.Owner }}");
                $('#RC_number').html("RC Number:  {{ x.RC_number }}");
                $('#PAN_number').html("PAN number:  {{ x.PAN_number }}");
                if("{{x.Type}}" != "OTHER"){
                    $('#Type').html("Vehicle Type:  {{ x.Type }}");
                }
                else{
                    $('#Other').html("Vehicle Type:  {{ x.Other }}");
                }
                $('#Insurance_policy_number').html("Insurance policy number:  {{ x.Insurance_policy_number }}");
                $('#Insurance_expiry_date').html("Insurance expiry date:  {{ x.Insurance_expiry_date }}");
                $('#PUC_expiry_date').html("PUC expiry date:  {{ x.PUC_expiry_date }}");
                $('#Safety_equipments').html("Safety equipments:  {{ x.Safety_equipments }}");
                $('#GPS').html("GPS:  {{ x.GPS }}");
                $('#Contact_number').html("Contact number:  {{ x.Contact_number }}");

            });
        </script>
    {% endfor %}
{% endfor %}


{% endblock start %}