{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script>
  $(document).ready( function () {
    $('#table').DataTable();
  } );
</script>

<h1 style="text-align: center;padding-top: 20px;"> Bank Details</h1>
</br>

<table id ="table" class="table table-striped" style="overflow-y: scroll; height: 1px;">  
    <thead class="thead-dark">  
    <tr>  
        <th>RC Number</th>  
        <th>Account Number</th>  
        <th>Account Holder</th>  
        <th>IFSC</th>  
        <th>Account Type</th> 
        {% if user.is_authenticated %} 
        <th>Actions</th>  
        {% endif %}
    </tr>  
    </thead>  
    <tbody>  
{% for x in bank_detail %}  
    <tr>  
        <td>{{ x.Vehicle }}</td>  
        <td>{{ x.Account_number }}</td>  
        <td>{{ x.Account_holder }}</td>  
        <td>{{ x.IFSC }}</td>
        <td>{{ x.Account_type }}</td>  
        {% if user.is_authenticated %}
        <td>  
            <a href="/edit_bank_detail/{{ x.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            
            <a href="/delete_bank_detail/{{ x.id }}"><span class="glyphicon glyphicon-remove" style="margin-left: 10px;" >Delete</span></a>  
        </td> 
        {% endif %} 
    </tr>  
{% endfor %}  
    </tbody>  
</table>  

{% if user.is_authenticated %}
<center><a href="/Add Bank Detail/" class="btn btn-primary">Add New Record</a></center>
{% endif %} 

<br>  
<br> 

{% endblock start %}