{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<table class="table table-striped table-bordered table-sm" style="overflow-y: scroll; height: 1px;">  
    <thead class="thead-dark">  
    <tr>  
        <th>Driver's Name</th>  
        <th>License Number</th>  
        <th>License Expiry</th>  
        <th>Contact Number</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for x in drivers %}  
    <tr>  
        <td>{{ x.Name }}</td>  
        <td>{{ x.License_number }}</td>  
        <td>{{ x.License_expiry }}</td>  
        <td>{{ x.Contact_number }}</td>  
        <td>  
            <a href="/edit_driver/{{ x.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete_driver/{{ x.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/Add Driver" class="btn btn-primary">Add New Record</a></center>


{% endblock start %}