{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script>
  $(document).ready( function () {
    $('#table').DataTable();
  } );
</script>



<h1 style="text-align: center; padding-top: 20px;"> Vehicle details</h1>
</br>
<table id = "table" class="table table-striped">  
    <thead class="thead-dark">  
    <tr>   
        <th >Owner</th>  
        <th>RC Number</th>
        <th>PAN Number</th>
        <th>Type</th>
        <!-- <th>Other</th> -->
        <th>Insurance Policy Number</th>
        <th>Insurance Expiry Date</th>
        <th>PUC Expiry Date</th>
        <th>Safety Equipments</th>
        <th>GPS</th>
        <th>Contact Number</th> 
        {% if user.is_authenticated %} 
        <th>Actions</th>  
        {% endif %}
    </tr>  
    </thead>  
    <tbody>  
{% for x in vehicle %}  
    <tr>  
        <td>{{ x.Owner }}</td>  
        <td>{{ x.RC_number }}</td>  
        <td>{{ x.PAN_number }}</td>  
        <td id="{{ x.id }}">{{ x.Type }}</td>
        <!-- <td>{{ x.Other }}</td>     -->
        <td>{{ x.Insurance_policy_number }}</td>  
        <td>{{ x.Insurance_expiry_date }}</td>
        <td>{{ x.PUC_expiry_date }}</td>
        <td>{{ x.Safety_equipments }}</td>  
        <td>{{ x.GPS }}</td>  
        <td>{{ x.Contact_number }}</td>  
        {% if user.is_authenticated %}
        <td>  
            <a href="/edit_vehicle/{{ x.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            
            <a href="/delete_vehicle/{{ x.id }}"><span class="glyphicon glyphicon-remove" style="margin-left: 10px;" >Delete</span></a>  
        </td> 
        {% endif %} 
    </tr>  
{% endfor %}  
    </tbody>  
</table>    

{% if user.is_authenticated %}
    <center><a href="/Add Vehicle/" style="padding: 5px;" class="btn btn-primary">Add New Record</a></center>
{% endif %} 
</br>
</br>

{% for v in vehicle %}
    <script>
        if("{{v.Type}}"=="OTHER"){
            $('#{{v.id}}').html("{{v.Other}}");
        }
    </script>
{% endfor %}
{% endblock start %}