{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script>
  $(document).ready( function () {
    $('#table').DataTable();
  } );
</script>

<h1 style="text-align: center; padding-top: 20px;"> Trip details</h1>
</br>

<table id="table" class="table table-striped" style="overflow-y: scroll; height: 1px;">  
    <thead class="thead-dark">  
    <tr>  
        <th>Date</th>  
        <th>Client</th>  
        <th>RC Number</th>  
        <th>Driver</th>  
        <!-- <th>Trip ID</th>   -->
        <th>Path</th>
        <th>Rate</th>
        <th>Distance</th>
        <th>Freight</th>
        <th>U/L</th>
        <th>Other</th>
        <th>Advance</th>
        <th>Total</th>
        {% if user.is_authenticated %} 
        <th>Actions</th>  
        {% endif %}
    </tr>  
    </thead>  
    <tbody>  
{% for x in trip_detail %}  
    <tr>  
        <td>{{ x.Date_created }}</td>  
        <td>{{ x.Client }}</td>  
        <td >
            <button class="astext" id = {{x.id}}{{x.Vehicle.id}}>{{ x.Vehicle }}</button>
        </td>  
        <td>
            <button class="astext" id = {{x.id}}_{{x.Driver.id}}>{{ x.Driver }}</button>
        </td>  
        <!-- <td>{{ x.Trip_id }}</td>   -->
        <td id = "{{x.id}}_Path" >
            <dt style="font-weight: normal;">{{ x.Source }}</dt>
        </td>
        <td id="{{x.id}}_Rate"></td>
        <td>{{x.Distance}} Km</td>
        <td>{{x.Freight}}</td>
        <td id = "{{x.id}}_LU">
            <dt></dt>
        </td>
        <td id="{{x.id}}_other">
            <dt></dt>
        </td>
        <td>{{ x.Advance_payment }}</td>
        <td>{{ x.Total_payment }}</td>
        {% if user.is_authenticated %}
        <td id="{{x.id}}_action">  
            <a href="/edit_trip_detail/{{ x.id }}"><span class="glyphicon glyphicon-pencil" > </span></a>
            <a href="/delete_trip_detail/{{ x.id }}" class="confirm-delete"><span class="glyphicon glyphicon-remove" > </span></a>
            
        </td> 
        {% endif %} 
    </tr>  
{% endfor %}  
    </tbody>  
</table> 

{% if user.is_authenticated %}
<center><a href="/Add Trip Detail/" class="btn btn-primary">Add New Record</a></center>
{% endif %} 
<br>  
<br>  

{% for x in trip_detail %}
    <script>
        if("{{x.Rate_type}}"=="FIX")
            $('#{{x.id}}_Rate').html("FIX");
        else
            $('#{{x.id}}_Rate').html("{{x.Rate}}");
        var destination = JSON.parse("{{x.Destination}}".replace(/(&quot\;)/g,"\""));
        var LU = JSON.parse("{{x.Load_unload_charges}}".replace(/(&quot\;)/g,"\""));
        var Other_charges = JSON.parse("{{x.Other_charges}}".replace(/(&quot\;)/g,"\""));
        for(var i in destination)
            $('#{{x.id}}_Path').append("<dt style='font-weight: normal;'>"+destination[i]+"</dt>");
        for(var i in LU)
            $('#{{x.id}}_LU').append("<dt style='font-weight: normal;'>"+LU[i]+"</dt>");
        for(var i in Other_charges)
            $('#{{x.id}}_other').append("<dt style='font-weight: normal;'>"+Other_charges[i]+"</dt>");
        if("{{x.Finished}}"=="False")
            $("#{{x.id}}_action").append("<a href='/finish_trip_detail/{{ x.id }}' class='confirm-finish'><span class='glyphicon glyphicon-ok' ></span></a>");
    </script>
{% endfor %}



<br />  
<br />  
{% for x in trip_detail %}
    <script>
        document.getElementById('{{x.id}}{{x.Vehicle.id}}').addEventListener('click',()=>{
            document.getElementById('vehicle_modal_container').classList.add('show');
            console.log("{{x.Vehicle.RC_number}}");
            $('#Owner').html("Owner: {{ x.Vehicle.Owner }}");
            $('#RC_number').html("RC Number:  {{ x.Vehicle.RC_number }}");
            $('#PAN_number').html("PAN number:  {{ x.Vehicle.PAN_number }}");
            if("{{x.Vehicle.Type}}" != "OTHER"){
                $('#Type').html("Vehicle Type:  {{ x.Vehicle.Type }}");
            }
            else{
                $('#Other').html("Vehicle Type:  {{ x.Vehicle.Other }}");
            }
            $('#Insurance_policy_number').html("Insurance policy number:  {{ x.Vehicle.Insurance_policy_number }}");
            $('#Insurance_expiry_date').html("Insurance expiry date:  {{ x.Vehicle.Insurance_expiry_date }}");
            $('#PUC_expiry_date').html("PUC expiry date:  {{ x.Vehicle.PUC_expiry_date }}");
            $('#Safety_equipments').html("Safety equipments:  {{ x.Vehicle.Safety_equipments }}");
            $('#GPS').html("GPS:  {{ x.Vehicle.GPS }}");
            $('#Contact_number').html("Contact number:  {{ x.Vehicle.Contact_number }}");

        });
        document.getElementById('{{x.id}}_{{x.Driver.id}}').addEventListener('click',()=>{
            document.getElementById('driver_modal_container').classList.add('show');
            console.log("{{x.Driver.Name}}");
            $('#Name').html("Name: {{ x.Driver.Name }}");
            $('#License_number').html("License Number:  {{ x.Driver.License_number }}");
            $('#License_expiry').html("License Expiry:  {{ x.Driver.License_expiry }}");
            $('#Contact_number').html("Contact Number:  {{ x.Driver.Contact_number }}");
        });
    </script>
{% endfor %}

<script>
    $(document).on('click', '.confirm-delete', function(){
        return confirm('Are you sure you want to delete this?');
    });
    $(document).on('click', '.confirm-finish', function(){
        return confirm('Are you sure you want to finish this trip?');
    });
</script>
{% endblock start %}