{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script>
  $(document).ready( function () {
    $('#table').DataTable();
  } );
</script>

<h1 style="text-align: center; padding-top: 20px;"> Client details</h1>
</br>

<table id="table" class="table table-striped" style="overflow-y: scroll; height: 1px;">  
    <thead class="thead-dark">  
    <tr>  
        <th>Client's Name</th>  
        
        {% if user.is_authenticated %} 
        <th>Actions</th>  
        {% endif %}
    </tr>  
    </thead>  
    <tbody>  
{% for x in client %}  
    <tr>  
        <td>{{ x.Name }}</td>  

        {% if user.is_authenticated %}
        <td>  
            <a href="/edit_client/{{ x.id }}"><span class="glyphicon glyphicon-pencil" > </span></a>
            <a href="/delete_client/{{ x.id }}" class="confirm-delete"><span class="glyphicon glyphicon-remove" style="margin-left: 10px;" > </span></a>
        </td> 
        {% endif %} 
    </tr>  
{% endfor %}  
    </tbody>  
</table>  

{% if user.is_authenticated %}
<center><a href="/Add Client/" class="btn btn-primary">Add New Record</a></center>
{% endif %} 


{% endblock start %}