{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<script>
    $(document).ready(function (){
        $("#id_Driver").change(function() {
            if($(this).val() != ""){
                $('#id_Vehicle').show();
                $('#id_Vehicle').attr('required', '');
                $('#id_Vehicle').attr('data-error', 'This field is required.');
                $("label[for='id_Vehicle']").text("RC Number");
                $('#id_Vehicle').empty();
                $driver_id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'favoriteAjax' %}",
                    data: { action: "get_vehicles",
                            id: $driver_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}' },
                    dataType: 'json',
                    success: function(response){
                        $("#id_Vehicle").append("<option value selected> --------- </option>");
                        $.each(response,function(i, v) {
                            $("#id_Vehicle").append("<option value="+ v.pk +" > "+ v.fields.RC_number + " </option>");
                        });
                    }
                });
            }
            else{
                $("label[for='id_Vehicle']").empty();
                $('#id_Vehicle').hide();
            }
        });
        $("#id_Driver").trigger("change");
        $("#id_Total_payment").keyup(function(){
            $("#id_Advance_payment").attr({"max":$("#id_Total_payment").val()});
        });
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="background-color: white; border-radius: 5%; padding: 20pt;margin-top:50pt ">
        <form method="POST" action='/Add Trip Detail/' enctype="multipart/form-data">{% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Trip Detail</legend>
                    <div class="form-group">
                        {{form.as_p }}
                    </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" id="submit" name="submit" type="submit"><span class="glyphicon glyphicon-ok"></span> &nbsp; Add</button> 
            </div>
            <br>
            <small class="text-muted ml-2">
                <a class="ml-2" href="/Add Vehicle/">Add a Vehicle</a>
            </small>
            <br>
            <small class="text-muted ml-2">
                <a class="ml-2" href="/Add Driver/">Add a Driver</a>
            </small>
        </form>
        </div>
    </div>
</div>

{% endblock start %}