{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block start %}

<script>
    $(document).ready(function (){
        $("#id_Rate").hide();
        $("label[for='id_Rate']").empty();

        $("#id_Driver").change(function() {
            if($(this).val() != ""){
                $('#id_Vehicle').show();
                $('#id_Vehicle').attr('required', '');
                $('#id_Vehicle').attr('data-error', 'This field is required.');
                $("label[for='id_Vehicle']").text("RC Number: ");
                $('#id_Vehicle').empty();
                $driver_id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'favoriteAjax' %}",
                    data: { action: "get_vehicles",
                            driver_id: $driver_id,
                            vehicle_id: null,
                            csrfmiddlewaretoken: '{{ csrf_token }}' },
                    dataType: 'json',
                    success: function(response){
                        $("#id_Vehicle").append("<option value selected> --------- </option>");
                        $.each(response,function(i, v) {
                            $("#id_Vehicle").append("<option value="+ v.pk +" > "+ v.fields.RC_number + " </option>");
                        });
                    }
                });
            }
            else{
                $("label[for='id_Vehicle']").empty();
                $('#id_Vehicle').hide();
            }
        });
        $("#id_Driver").trigger("change");


        $("#id_Vehicle").change(function() {
            if($(this).val() != ""){
                $('#id_Bank_detail').show();
                $('#id_Bank_detail').attr('required', '');
                $('#id_Bank_detail').attr('data-error', 'This field is required.');
                $("label[for='id_Bank_detail']").text("Bank Account: ");
                $('#id_Bank_detail').empty();
                $vehicle_id = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{% url 'favoriteAjax' %}",
                    data: { action: "get_Bank_details",
                            driver_id: null,
                            vehicle_id: $vehicle_id,
                            csrfmiddlewaretoken: '{{ csrf_token }}' },
                    dataType: 'json',
                    success: function(response){
                        $("#id_Bank_detail").append("<option value selected> --------- </option>");
                        $.each(response,function(i, v) {
                            $("#id_Bank_detail").append("<option value="+ v.pk +" > "+ v.fields.Account_number + " </option>");
                        });
                    }
                });
            }
            else{
                $("label[for='id_Bank_detail']").empty();
                $('#id_Bank_detail').hide();
            }
        });
        $("#id_Vehicle").trigger("change");
        
        $("#id_Rate_type").change(function() {
            if($(this).val() == "VARIABLE"){
                $("#id_Rate").show();
                $("#id_Freight").attr("disabled","");
                $("label[for='id_Rate']").text("Rate: ");
                $('#id_Freight').val("");
                $("#id_Distance").keyup(function(){
                    if($('#id_Rate').val()!="")
                        $('#id_Freight').val($('#id_Rate').val()*$('#id_Distance').val());
                });
                $("#id_Rate").keyup(function(){
                    if($('#id_Distance').val()!="")
                        $('#id_Freight').val($('#id_Rate').val()*$('#id_Distance').val());
                });
            }
            else{
                $('#id_Freight').val("");
                $("#id_Rate").hide();
                $("#id_Freight").removeAttr("disabled");
                $("label[for='id_Rate']").empty();
            }
        });
        $("#Rate_type").trigger("change");
        
        $i=1;
        $("#add").click(function(e) {
            $i++;
            e.preventDefault();
            $("#destination_"+($i-1)+"_unloading").after("<p id='space_"+$i+"'>&nbsp;</p>");
            $("#space_"+$i).after("<p><label for='destination_"+ $i +"'>Destination "+$i+":</label> <input type='text' name='destination_"+ $i +"' maxlength='50' required='' id='destination_"+$i+"'></p>");
            $("#destination_"+ $i).after("<p><label for='destination_"+$i+"_loading'>Loading Charges:</label> <input type='number' name='destination_"+$i+"_loading' required='' id='destination_"+$i+"_loading'></p>");
            $("#destination_"+$i+"_loading").after("<p><label for='destination_"+$i+"_unloading'>Unloading Charges:</label> <input type='number' name='destination_"+$i+"_unloading' required='' id='destination_"+$i+"_unloading'></p>");
        });
        $("#remove").click(function(e) {
            e.preventDefault();
            if($i==1){
                alert("need atleast 1 destination");
            }
            else{
                $("label[for='space_"+ $i+"']").remove();
                $("#space_"+$i).remove();
                $("label[for='destination_"+ $i+"']").remove();
                $("#destination_"+ $i).remove();
                $("label[for='destination_"+ $i+"_loading']").remove();
                $("#destination_"+$i+"_loading").remove();
                $("label[for='destination_"+ $i+"_unloading']").remove();
                $("#destination_"+$i+"_unloading").remove();
                $i--;
            }
        });
        $("#calculate").click(function(e) {
            e.preventDefault();
            var total = parseInt($('#id_Freight').val());
            total += parseInt($('#id_Other_charges').val());
            for($j=1;$j<=$i;$j++){
                total += parseInt($('#destination_'+$j+'_loading').val());
                total += parseInt($('#destination_'+$j+'_unloading').val());
            }
            $('#Total_payment').val(total);
        });

        function calculate_payment(){
            var data = new FormData($('#trip_form'));
            data.append("i",$i)
            return true;
        }
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="background-color: white; border-radius: 5%; padding: 20pt;margin-top:50pt ">
        <form onsubmit="calculate_payment()" method="POST" action='/Add Trip Detail/' enctype="multipart/form-data">{% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Trip Detail</legend>
                    <div class="form-group" id="trip_form">
                        {{form.as_p }}
                        <p><label for="source_loading">Loading Charges:</label> <input type="number" name="source_loading" required="" id="source_loading"></p>
                        <p>&nbsp;</p>
                        <p><label for="destination_1">Destination 1:</label> <input type="text" maxlength="50" name="destination_1" required="" id="destination_1"></p>
                        <p><label for="destination_1_loading">Loading Charges:</label> <input type="number" name="destination_1_loading" required="" id="destination_1_loading"></p>
                        <p><label for="destination_1_unloading">Unloading Charges:</label> <input type="number" name="destination_1_unloading" required="" id="destination_1_unloading"></p>

                        <button class="btn btn-primary" style="font-size: 10px;" id="add"><span class="glyphicon glyphicon-plus-sign"></span></button>
                        <button class="btn btn-primary" style="font-size: 10px;" id="remove"><span class="glyphicon glyphicon-minus-sign"></span></button>

                        <p>&nbsp;</p>
                        <p><label for="Total_payment">Total Payment:</label> 
                            <input type="number" disabled="" name="Total_payment" id="Total_payment">
                        </p>
                        <p>
                            &nbsp; 
                            <button class="btn btn-secondary" style="font-size: 10px;" id="calculate"> Calculate</button>
                        </p>
                    </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" id="submit" name="submit" type="submit"><span class="glyphicon glyphicon-ok"></span> &nbsp; Submit</button> 
            </div>
            <br>
            <small class="text-muted ml-2">
                <a class="ml-2" href="/Add Vehicle/">Add a Vehicle</a>
            </small>
            <br>
            <small class="text-muted ml-2">
                <a class="ml-2" href="/Add Driver/">Add a Driver</a>
            </small>
        </form>
        </div>
    </div>
</div>

{% endblock start %}